<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://chrome.google.com/webstore/detail/subreddit-dose/debidaobmphbhahmciimemacihcaicfj" version="1.0.0" viewmodes="fullscreen">
    <access origin="https://imgur.com" subdomains="true"></access>
    <access origin="http://imgur.com" subdomains="true"></access>
    <access origin="https://api.imgur.com" subdomains="true"></access>
    <access origin="http://api.imgur.com" subdomains="true"></access>
    <tizen:allow-navigation>imgur.com *.imgur.com</tizen:allow-navigation>
    <tizen:application id="IoLKCYuq2f.theawwapp" package="IoLKCYuq2f" required_version="2.2"/>
    <author href="https://chrome.google.com/webstore/detail/subreddit-dose/debidaobmphbhahmciimemacihcaicfj" email="greatbigsquirrel@gmail.com">Suzan Pero</author>
    <content src="index.html"/>
    <tizen:content-security-policy>script-src 'self'; style-src 'self' 'unsafe-inline'; img-src *;</tizen:content-security-policy>
    <tizen:content-security-policy-report-only>script-src 'self'; style-src 'self' 'unsafe-inline'; img-src *;</tizen:content-security-policy-report-only>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icons/round-icon117.png"/>
    <name>Subreddit Shred</name>
    <tizen:setting screen-orientation="auto-rotation" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
