body{
	text-align:center;
	background-color:#2B2B2B;
	margin:0px;
	color:#FE3838;
	font-size:20pt;
	font-family:'Belleza', Verdana, sans-serif;
	letter-spacing:2px;
	overflow:hidden;
	-webkit-user-select:none;
}
p {
text-indent: 35px;
}
a {
	text-decoration:none;
	color:#9CCBF8;
}
a:hover{
	text-decoration:underline;
}
#Slider{
	position: absolute;
	top:-70px;
	display:none;
	white-space:nowrap;
	left:0px;
	width:100%;
	transition:top 500ms ease-out;
	margin:5px;
	vertical-align:top;
}
#shareOptions{
	display:inline-block;
	padding-top:4px;
	vertical-align:top;
}
#optionHelp{
	display:inline-block;
	vertical-align:top;
}
#option{
	transition:bottom 3s ease-out;
	transition:bottom 1s cubic-bezier(0.000, 0.100, 0.035, 1.470);
/* this makes it BOUNCE! */
	vertical-align:top;
	display:none;
	bottom:100%;
	width:60%;
	margin:0px 20%;
	padding: 1% 0px;
	border:5px solid black;
	position:absolute;
	background-color:#2B2B2B;
}
#subreddit{
	height:30px;
	width:50%;
	text-align:center;
	font-size:18px;
}
#subRedditReplace{
	height: 29px;
	width: 19px;
	position: relative;
	bottom: 2px;
	font-size: 15px;
}
#favoriteStar{
	position:absolute;
	right:13px;
	top:-2px;
	font-size: 35px;
}
#favoriteStar.unlike{
	color: #2B2B2B;
	text-shadow: 2px 2px 4px #2B2B2B;
}
#favoriteStar.like{
	color: #E4B705;
	text-shadow: 2px 3px 3px #2B2B2B;
}
#catbug{
	color:#AB3F3E;
	text-shadow: 3px 2px 3px #2B2B2B;
	position: absolute;
	top: -45px;
	text-align: center;
	width: 100%;
}
.buttonHolder{
	margin-top:7px;
}
.relativePosition{
	position:relative;
}
#welcome{
}
#cutestuff{
	display:none;
}
#loadNAO{
	background-image:url(loading.gif);
	background-position:center 90%;
	background-repeat:no-repeat;
	background-size: 100px 100px;
}
input[type="button"]{
	background-color: #a5b8da;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
	background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
	background-image: linear-gradient(top, #a5b8da, #7089b3);
	border-top: 2px solid #758fba;
	border-right: 2px solid #6c84ab;
	border-bottom: 2px solid #5c6f91;
	border-left: 2px solid #6c84ab;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	-moz-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
	color: #fff;
	line-height: 1;
	padding: 8px 8px;
	text-align: center;
	text-shadow: 0 -1px 1px #64799e;
	text-transform: uppercase;
	font-size:14px;
}
input[type="button"]:hover{
	background-color: #9badcc;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
	background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
	background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
	background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
	background-image: -o-linear-gradient(top, #9badcc, #687fa6);
	background-image: linear-gradient(top, #9badcc, #687fa6);
	border-top: 1px solid #6d86ad;
	border-right: 1px solid #647a9e;
	border-bottom: 1px solid #546685;
	border-left: 1px solid #647a9e;
	-webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
	-moz-box-shadow: inset 0 1px 0 0 #a5b9d9;
	box-shadow: inset 0 1px 0 0 #a5b9d9;
	cursor: pointer;
}
input[type="button"]:active{
	border: 1px solid #546685;
	-webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
	-moz-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
	box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
}
#cat{
	line-height:0px;
	font-size:0px;
	vertical-align:text-bottom;
	-webkit-user-drag:none;
}
#tryTryAgain{
	top:15%;
	position: absolute;
	background-color:#2B2B2B;
	width:60%;
	margin:auto;
	border: 3px solid red;
	border-radius:3px;
	padding:15px;
	left:20%;
	display:none;
}
@media all and (max-width: 800px) {
	body{
		font-size:17px;
	}
}